#nav{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px; 
}
.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	float: right;
}
.listclass{
	float: left;
	display: block;
	padding: 10px 10px;
	align-items: center;
}
#accimage{
		border-radius: 50%;
		padding-top: -30px;
}
#isbar{
	margin-top: 150px;
	margin-left: 500px;	

}
#googleimage{
	margin-bottom: 10px;
}
#input{
	margin-bottom: 5px;
	margin-left: -65px;
	border-radius: 12px;
	border-width: 1px;
	line-height: 30px;
}
#but1{
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid;
	background-color: #f8f9fa;
	border-radius: 4px;
	border-color: #f8f9fa;
	padding: 10px 10px;
}
#but2{
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid;
	background-color: #f8f9fa;
	border-radius: 4px;
	border-color: #f8f9fa;
	padding: 10px 10px;
}